
{{#if devoured}}
<li class="change-devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
    {{id}}.  {{burger_name}}
</li>
{{else}}
<li class="devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
    {{id}}.  {{burger_name}}
</li>
{{/if}}