
{{#if devoured}}
<p class="change-devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
    {{id}}.  {{burger_name}}
</p>
{{else}}
<p class="devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
    {{id}}.  {{burger_name}}
</p>
{{/if}}